<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<div>
    <#-- отправляет данные с формой -->
    <form action="/signUp" method="post">
        <input name="firstName" placeholder="Name">
        <input name="lastName" placeholder="Surname">
        <input name="email" placeholder="Email">
        <input name="password" placeholder="Password">
        <input type="submit" value="signUp">
    </form>
</div>
</body>
</html>